In [24]:
#!pip install SQLAlchemy
#!pip install mysql-connector-python
#!pip install sqlalchemy pymysql
#!pip install Faker
#!pip install PyMySQL

Requirement already satisfied: sqlalchemy in /Users/carlosoliver/miniconda3/envs/flask_env/lib/python3.10/site-packages (2.0.30)
Collecting pymysql
  Using cached PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/carlosoliver/miniconda3/envs/flask_env/lib/python3.10/site-packages (from sqlalchemy) (4.12.1)
Using cached PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Requirement already satisfied: PyMySQL in /Users/carlosoliver/miniconda3/envs/flask_env/lib/python3.10/site-packages (1.1.1)

In [1]:
import pandas as pd
from sqlalchemy import create_engine, text

In [2]:
db_user = 'app'
db_password = '**'
db_host = '****'
db_port = '**'
db_name = '****'
# Crear la cadena de conexión
churro = f'mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'

In [3]:
engine = create_engine(churro)

In [4]:
query = "SHOW TABLES;"
tables = pd.read_sql(query, engine)
print(tables)

  Tables_in_mysql_app
0      Availabilities
1              Events
2           Feedbacks
3            Meetings
4            Partners
5       SequelizeMeta
6            Speakers
7           Summaries
8               Users

In [29]:
import pandas as pd
from datetime import datetime, timedelta

# Crear un diccionario con 10 filas de datos
data = {
    'id': list(range(1, 11)),
    'tipo_evento': ['Conferencia', 'Taller'] * 5,
    'titulo': [
        'Tech Summit 2024', 'AI Workshop', 'Data Analytics Webinar', 'Accessibility Seminar',
        'Plagiarism Prevention Conference', 'Certification Workshop', 'Content Creation Webinar',
        'Video Generation Seminar', 'Training Management Conference', 'Authoring Tools Workshop'
    ],
    'speaker_id': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'tematica': [
        'Tecnología', 'Inteligencia Artificial', 'Analítica de Datos', 'Accesibilidad',
        'Prevención de Plagio', 'Certificación', 'Creación de Contenidos', 'Generación de Video',
        'Gestión de Formación', 'Herramientas de Autor'
    ],
    'duracion_min': [45, 50, 55, 40, 35, 30, 25, 50, 45, 55],
    'sala': ['Sala A', 'Sala B'] * 5,
    'fecha': [datetime.strptime(date, '%Y-%m-%d') for date in [
        '2024-09-15', '2024-08-20', '2024-07-10', '2024-06-05', '2024-05-15', 
        '2024-04-20', '2024-03-10', '2024-02-05', '2024-01-15', '2024-12-20'
    ]],
    'descripcion': [
        'Annual technology summit', 'Introduction to AI and ML', 'Webinar on data analytics', 
        'Seminar on accessibility in technology', 'Conference on anti-plagiarism strategies', 
        'Workshop on certification processes', 'Webinar on creating engaging content', 
        'Seminar on video generation technologies', 'Conference on training management systems', 
        'Workshop on authoring tools for education'
    ],
    'interes': [
        'Todo', 'Accesibilidad', 'Analítica', 'Antiplagio', 'Certificación',
        'Contenidos', 'Generación de Vídeo', 'Gestión de la Formación',
        'Herramientas de autor', 'Inteligencia Artificial'
    ],
    'numero_asistentes': [500, 100, 150, 75, 50, 80, 120, 90, 110, 130],
    'hora_inicio': [datetime.strptime(hour, '%H:%M').time() for hour in [
        '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00'
    ]],
    'hora_fin': [(datetime.strptime(hour, '%H:%M') + timedelta(minutes=dur)).time() for hour, dur in zip(
        ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00'], 
        [45, 50, 55, 40, 35, 30, 25, 50, 45, 55]
    )],
    'createdAt': [datetime.now()] * 10,
    'updatedAt': [datetime.now()] * 10
}

# Crear el DataFrame con las filas de datos
Events = pd.DataFrame(data)

Events

,id,tipo_evento,titulo,speaker_id,tematica,duracion_min,sala,fecha,descripcion,interes,numero_asistentes,hora_inicio,hora_fin,createdAt,updatedAt
0,1,Conferencia,Tech Summit 2024,101,Tecnología,45,Sala A,2024-09-15,Annual technology summit,Todo,500,09:00:00,09:45:00,2024-06-24 10:46:26.180054,2024-06-24 10:46:26.180059
1,2,Taller,AI Workshop,102,Inteligencia Artificial,50,Sala B,2024-08-20,Introduction to AI and ML,Accesibilidad,100,10:00:00,10:50:00,2024-06-24 10:46:26.180054,2024-06-24 10:46:26.180059
2,3,Conferencia,Data Analytics Webinar,103,Analítica de Datos,55,Sala A,2024-07-10,Webinar on data analytics,Analítica,150,11:00:00,11:55:00,2024-06-24 10:46:26.180054,2024-06-24 10:46:26.180059
3,4,Taller,Accessibility Seminar,104,Accesibilidad,40,Sala B,2024-06-05,Seminar on accessibility in technology,Antiplagio,75,12:00:00,12:40:00,2024-06-24 10:46:26.180054,2024-06-24 10:46:26.180059
4,5,Conferencia,Plagiarism Prevention Conference,105,Prevención de Plagio,35,Sala A,2024-05-15,Conference on anti-plagiarism strategies,Certificación,50,13:00:00,13:35:00,2024-06-24 10:46:26.180054,2024-06-24 10:46:26.180059
5,6,Taller,Certification Workshop,106,Certificación,30,Sala B,2024-04-20,Workshop on certification processes,Contenidos,80,14:00:00,14:30:00,2024-06-24 10:46:26.180054,2024-06-24 10:46:26.180059
6,7,Conferencia,Content Creation Webinar,107,Creación de Contenidos,25,Sala A,2024-03-10,Webinar on creating engaging content,Generación de Vídeo,120,15:00:00,15:25:00,2024-06-24 10:46:26.180054,2024-06-24 10:46:26.180059
7,8,Taller,Video Generation Seminar,108,Generación de Video,50,Sala B,2024-02-05,Seminar on video generation technologies,Gestión de la Formación,90,16:00:00,16:50:00,2024-06-24 10:46:26.180054,2024-06-24 10:46:26.180059
8,9,Conferencia,Training Management Conference,109,Gestión de Formación,45,Sala A,2024-01-15,Conference on training management systems,Herramientas de autor,110,17:00:00,17:45:00,2024-06-24 10:46:26.180054,2024-06-24 10:46:26.180059
9,10,Taller,Authoring Tools Workshop,110,Herramientas de Autor,55,Sala B,2024-12-20,Workshop on authoring tools for education,Inteligencia Artificial,130,18:00:00,18:55:00,2024-06-24 10:46:26.180054,2024-06-24 10:46:26.180059

In [30]:
import pandas as pd
from datetime import datetime
import random

# Generar datos para 500 muestras
ids = list(range(1, 501))
user_ids = [random.randint(201, 300) for _ in range(500)]
event_ids = [random.randint(1, 18) for _ in range(500)]
comentarios = [
    'Excelente evento!', 'Muy informativo.', 'Me encantó el contenido.', 
    'Bien organizado.', 'Podría ser mejor.', 'Experiencia increíble.', 
    'No fue lo que esperaba.', 'Buenos insights.', 'Muy recomendable.', 
    'Presentación regular.', 'Información muy útil.', 'Gran calidad en las presentaciones.', 
    'Interesante y educativo.', 'Mejor de lo que esperaba.', 'Faltó interacción con el público.', 
    'Contenido muy técnico.', 'Inspirador y motivador.', 'Muy buena logística.', 
    'Demasiado corto.', 'Debería haber más sesiones como esta.', 'Presentadores muy preparados.', 
    'Me ayudó mucho en mi trabajo.', 'No aportó mucho valor.', 'Excelente manejo del tema.', 
    'Muy dinámico.', 'Repetiría la experiencia.', 'Poco tiempo para preguntas.', 
    'El material de apoyo fue excelente.', 'Demasiada información en poco tiempo.', 
    'Claridad en los conceptos.', 'El sonido no fue el mejor.', 'Recomendado para todos.',
    'Me encantó la interacción.', 'Los tiempos estuvieron bien manejados.', 'Faltó profundidad en algunos temas.',
    'La organización fue impecable.', 'Hubo problemas técnicos.', 'Las actividades prácticas fueron muy útiles.',
    'No cumplió mis expectativas.', 'El lugar fue adecuado.', 'Se aprendió mucho en poco tiempo.'
]
ratings = [random.randint(1, 5) for _ in range(500)]
created_at = [datetime.now() for _ in range(500)]
updated_at = [datetime.now() for _ in range(500)]

# Crear el diccionario de datos
data_feedbacks = {
    'id': ids,
    'user_id': user_ids,
    'event_id': event_ids,
    'comentarios': [random.choice(comentarios) for _ in range(500)],
    'rating': ratings,
    'createdAt': created_at,
    'updatedAt': updated_at
}

# Crear el DataFrame con las filas de datos
Feedbacks = pd.DataFrame(data_feedbacks)

Feedbacks

,id,user_id,event_id,comentarios,rating,createdAt,updatedAt
0,1,300,8,Las actividades prácticas fueron muy útiles.,5,2024-06-24 10:46:27.220557,2024-06-24 10:46:27.220892
1,2,219,2,No cumplió mis expectativas.,1,2024-06-24 10:46:27.220562,2024-06-24 10:46:27.220893
2,3,232,7,Presentadores muy preparados.,3,2024-06-24 10:46:27.220563,2024-06-24 10:46:27.220893
3,4,266,7,Inspirador y motivador.,2,2024-06-24 10:46:27.220564,2024-06-24 10:46:27.220894
4,5,204,6,Podría ser mejor.,5,2024-06-24 10:46:27.220565,2024-06-24 10:46:27.220895
...,...,...,...,...,...,...,...
495,496,267,11,Poco tiempo para preguntas.,4,2024-06-24 10:46:27.220853,2024-06-24 10:46:27.221188
496,497,275,1,Claridad en los conceptos.,3,2024-06-24 10:46:27.220854,2024-06-24 10:46:27.221188
497,498,218,9,Faltó interacción con el público.,4,2024-06-24 10:46:27.220854,2024-06-24 10:46:27.221189
498,499,226,4,El sonido no fue el mejor.,2,2024-06-24 10:46:27.220855,2024-06-24 10:46:27.221189
499,500,281,2,Bien organizado.,5,2024-06-24 10:46:27.220855,2024-06-24 10:46:27.221190

In [31]:
import pandas as pd
from datetime import datetime, timedelta
import random

# Generar datos para 100 muestras
ids = list(range(1, 101))
partner_ids = [random.randint(1, 10) for _ in range(100)]  # Suponiendo que hay 10 partners
user_ids = [random.randint(201, 300) for _ in range(100)]
fechas = [datetime(2024, random.randint(1, 12), random.randint(1, 28)) for _ in range(100)]

# Generar hora de inicio aleatoria entre las 8:00 y las 15:30 para asegurar máximo 30 minutos de duración
hora_inicio = [datetime.strptime(f"{random.randint(8, 15)}:{random.randint(0, 29):02d}", '%H:%M').time() for _ in range(100)]
hora_fin = [datetime.combine(fecha, inicio) + timedelta(minutes=random.randint(1, 30)) for fecha, inicio in zip(fechas, hora_inicio)]

created_at = [datetime.now() for _ in range(100)]
updated_at = [datetime.now() for _ in range(100)]

# Crear el diccionario de datos
data_meetings = {
    'id': ids,
    'partner_id': partner_ids,
    'user_id': user_ids,
    'fecha': fechas,
    'hora_inicio': hora_inicio,
    'hora_fin': [fin.time() for fin in hora_fin],  # Extraer solo la hora de fin
    'createdAt': created_at,
    'updatedAt': updated_at
}

# Crear el DataFrame con las filas de datos
Meetings = pd.DataFrame(data_meetings)

Meetings

,id,partner_id,user_id,fecha,hora_inicio,hora_fin,createdAt,updatedAt
0,1,3,235,2024-03-10,10:01:00,10:02:00,2024-06-24 10:46:27.891525,2024-06-24 10:46:27.891611
1,2,7,219,2024-01-03,10:17:00,10:39:00,2024-06-24 10:46:27.891530,2024-06-24 10:46:27.891612
2,3,6,263,2024-07-15,08:26:00,08:46:00,2024-06-24 10:46:27.891531,2024-06-24 10:46:27.891612
3,4,6,276,2024-02-10,12:05:00,12:14:00,2024-06-24 10:46:27.891532,2024-06-24 10:46:27.891613
4,5,7,225,2024-12-17,14:18:00,14:26:00,2024-06-24 10:46:27.891532,2024-06-24 10:46:27.891613
...,...,...,...,...,...,...,...,...
95,96,2,230,2024-09-26,12:06:00,12:20:00,2024-06-24 10:46:27.891586,2024-06-24 10:46:27.891667
96,97,1,215,2024-12-12,08:19:00,08:49:00,2024-06-24 10:46:27.891586,2024-06-24 10:46:27.891668
97,98,2,212,2024-01-12,11:08:00,11:32:00,2024-06-24 10:46:27.891587,2024-06-24 10:46:27.891668
98,99,5,299,2024-11-19,15:23:00,15:30:00,2024-06-24 10:46:27.891587,2024-06-24 10:46:27.891669
99,100,8,265,2024-07-08,10:12:00,10:35:00,2024-06-24 10:46:27.891588,2024-06-24 10:46:27.891669

In [32]:
import pandas as pd
from datetime import datetime

# Definir los partners y sus tipos de partnership
partners_data = {
    'nombre_empresa': ['SAMOO BY PENTEC', 'OPEN LMS', 'READSPEAKER', 
                       'SMOWL', 'LVIS', 'TOTARA', 'ZOOM', 
                       'ANHOLOGY', 'ISPRING', 'COMPILATIO', 
                       'OPTIUMASS', 'BEMYVEGA', 'PANOPTO'],
    'tipo_partnership': ['Organizador', 'Platinum', 'Platinum', 
                         'Gold', 'Gold', 'Gold', 
                         'Silver', 'Silver', 'Silver', 
                         'Silver', 'Silver', 'Silver', 'Silver']
}

# Crear un DataFrame con los datos proporcionados
Partners = pd.DataFrame(partners_data)

# Agregar columnas adicionales según los requisitos (id, user_id, pagado, numero_meetings, eventos_participados, industria, importe_pagado, createdAt, updatedAt)

# Generar datos aleatorios para las columnas adicionales
Partners['id'] = range(1, len(Partners) + 1)  # IDs únicos para cada partner
Partners['user_id'] = range(301, 301 + len(Partners))  # Suponiendo IDs de usuario únicos para cada partner
Partners['pagado'] = [True, True, True, True, True, True, True, True, True, True, False, False, True]  # Suponiendo pagos aleatorios
Partners['numero_meetings'] = [random.randint(1, 9) for _ in range(len(Partners))]  # Inicialmente ningún meeting
Partners['eventos_participados'] = [random.randint(1, 9) for _ in range(len(Partners))]  # Inicialmente ningún evento participado
Partners['industria'] = ['Tecnología'] * len(Partners)  # Suponiendo una industria común para todos
Partners['importe_pagado'] = [random.randint(501, 5000) for _ in range(len(Partners))] # Inicialmente ningún importe pagado
Partners['createdAt'] = datetime.now()  # Fecha de creación actual
Partners['updatedAt'] = datetime.now()  # Fecha de actualización actual

# Mostrar el DataFrame resultante
Partners

,nombre_empresa,tipo_partnership,id,user_id,pagado,numero_meetings,eventos_participados,industria,importe_pagado,createdAt,updatedAt
0,SAMOO BY PENTEC,Organizador,1,301,True,5,9,Tecnología,4121,2024-06-24 10:46:28.738887,2024-06-24 10:46:28.741054
1,OPEN LMS,Platinum,2,302,True,6,5,Tecnología,2368,2024-06-24 10:46:28.738887,2024-06-24 10:46:28.741054
2,READSPEAKER,Platinum,3,303,True,4,7,Tecnología,3095,2024-06-24 10:46:28.738887,2024-06-24 10:46:28.741054
3,SMOWL,Gold,4,304,True,8,4,Tecnología,2851,2024-06-24 10:46:28.738887,2024-06-24 10:46:28.741054
4,LVIS,Gold,5,305,True,1,3,Tecnología,3166,2024-06-24 10:46:28.738887,2024-06-24 10:46:28.741054
5,TOTARA,Gold,6,306,True,3,9,Tecnología,1110,2024-06-24 10:46:28.738887,2024-06-24 10:46:28.741054
6,ZOOM,Silver,7,307,True,9,1,Tecnología,4372,2024-06-24 10:46:28.738887,2024-06-24 10:46:28.741054
7,ANHOLOGY,Silver,8,308,True,3,7,Tecnología,807,2024-06-24 10:46:28.738887,2024-06-24 10:46:28.741054
8,ISPRING,Silver,9,309,True,6,2,Tecnología,1032,2024-06-24 10:46:28.738887,2024-06-24 10:46:28.741054
9,COMPILATIO,Silver,10,310,True,3,4,Tecnología,3324,2024-06-24 10:46:28.738887,2024-06-24 10:46:28.741054
10,OPTIUMASS,Silver,11,311,False,2,3,Tecnología,4971,2024-06-24 10:46:28.738887,2024-06-24 10:46:28.741054
11,BEMYVEGA,Silver,12,312,False,3,5,Tecnología,2355,2024-06-24 10:46:28.738887,2024-06-24 10:46:28.741054
12,PANOPTO,Silver,13,313,True,1,5,Tecnología,2775,2024-06-24 10:46:28.738887,2024-06-24 10:46:28.741054

In [54]:
import pandas as pd
import random
from datetime import datetime

# Configuración inicial
num_speakers = 50
num_users = 250
num_partners = 12

# Generar datos
data = []
current_datetime = datetime.now().replace(microsecond=0).isoformat()

# Generar lista de ids de users y partners
user_ids = list(range(1, num_users + 1))
partner_ids = list(range(1, num_partners + 1))

# Generar 50 filas de datos
for i in range(num_speakers):
    user_id = random.choice(user_ids)
    partner_id = random.choice(partner_ids)  # Aproximadamente 30% NaNs
    data.append({
        'id': i + 1,
        'user_id': user_id,
        'partner_id': partner_id,
        'createdAt': current_datetime,
        'updatedAt': current_datetime
    })

# Crear DataFrame
Speakers = pd.DataFrame(data)

# Mostrar las primeras filas del DataFrame
Speakers

    id  user_id  partner_id            createdAt            updatedAt
0    1      154           9  2024-06-24T11:01:34  2024-06-24T11:01:34
1    2       20          12  2024-06-24T11:01:34  2024-06-24T11:01:34
2    3      196           5  2024-06-24T11:01:34  2024-06-24T11:01:34
3    4       15           2  2024-06-24T11:01:34  2024-06-24T11:01:34
4    5       99           5  2024-06-24T11:01:34  2024-06-24T11:01:34
5    6       31           5  2024-06-24T11:01:34  2024-06-24T11:01:34
6    7       81          11  2024-06-24T11:01:34  2024-06-24T11:01:34
7    8      111           6  2024-06-24T11:01:34  2024-06-24T11:01:34
8    9       92           6  2024-06-24T11:01:34  2024-06-24T11:01:34
9   10      129           4  2024-06-24T11:01:34  2024-06-24T11:01:34
10  11      250           3  2024-06-24T11:01:34  2024-06-24T11:01:34
11  12      137          11  2024-06-24T11:01:34  2024-06-24T11:01:34
12  13      158           9  2024-06-24T11:01:34  2024-06-24T11:01:34
13  14       78           4  2024-06-24T11:01:34  2024-06-24T11:01:34
14  15       29           8  2024-06-24T11:01:34  2024-06-24T11:01:34
15  16      206          10  2024-06-24T11:01:34  2024-06-24T11:01:34
16  17      244           7  2024-06-24T11:01:34  2024-06-24T11:01:34
17  18      225          12  2024-06-24T11:01:34  2024-06-24T11:01:34
18  19      233          12  2024-06-24T11:01:34  2024-06-24T11:01:34
19  20      240           8  2024-06-24T11:01:34  2024-06-24T11:01:34
20  21       81          12  2024-06-24T11:01:34  2024-06-24T11:01:34
21  22      168           4  2024-06-24T11:01:34  2024-06-24T11:01:34
22  23      214           3  2024-06-24T11:01:34  2024-06-24T11:01:34
23  24      186           6  2024-06-24T11:01:34  2024-06-24T11:01:34
24  25      214           3  2024-06-24T11:01:34  2024-06-24T11:01:34
25  26      116          10  2024-06-24T11:01:34  2024-06-24T11:01:34
26  27       33           2  2024-06-24T11:01:34  2024-06-24T11:01:34
27  28      193           8  2024-06-24T11:01:34  2024-06-24T11:01:34
28  29      187           1  2024-06-24T11:01:34  2024-06-24T11:01:34
29  30      155          10  2024-06-24T11:01:34  2024-06-24T11:01:34
30  31      162           6  2024-06-24T11:01:34  2024-06-24T11:01:34
31  32      148           9  2024-06-24T11:01:34  2024-06-24T11:01:34
32  33       77           2  2024-06-24T11:01:34  2024-06-24T11:01:34
33  34       71          10  2024-06-24T11:01:34  2024-06-24T11:01:34
34  35      182           7  2024-06-24T11:01:34  2024-06-24T11:01:34
35  36      190           1  2024-06-24T11:01:34  2024-06-24T11:01:34
36  37       31           9  2024-06-24T11:01:34  2024-06-24T11:01:34
37  38      238          10  2024-06-24T11:01:34  2024-06-24T11:01:34
38  39      198           2  2024-06-24T11:01:34  2024-06-24T11:01:34
39  40      202           4  2024-06-24T11:01:34  2024-06-24T11:01:34
40  41       17          11  2024-06-24T11:01:34  2024-06-24T11:01:34
41  42       18           1  2024-06-24T11:01:34  2024-06-24T11:01:34
42  43      178           3  2024-06-24T11:01:34  2024-06-24T11:01:34
43  44       14          12  2024-06-24T11:01:34  2024-06-24T11:01:34
44  45        9           4  2024-06-24T11:01:34  2024-06-24T11:01:34
45  46      189           9  2024-06-24T11:01:34  2024-06-24T11:01:34
46  47      114           4  2024-06-24T11:01:34  2024-06-24T11:01:34
47  48       21          11  2024-06-24T11:01:34  2024-06-24T11:01:34
48  49      135           8  2024-06-24T11:01:34  2024-06-24T11:01:34
49  50      129          12  2024-06-24T11:01:34  2024-06-24T11:01:34

In [71]:
import pandas as pd
import random
from faker import Faker
from datetime import datetime

# Inicializar Faker
fake = Faker()

# Definir listas de posibles valores para algunas columnas
roles = ['user', 'speaker', 'partner']
pagado_options = [True, False]
puestos_trabajo = [
    "Diseñador Instruccional",
    "Desarrollador de Contenidos de e-Learning",
    "Especialista en LMS (Learning Management Systems)",
    "Tutor o Facilitador de e-Learning",
    "Consultor de e-Learning",
    "Productor de Multimedia Educativa",
    "Analista de Datos Educativos",
    "Coordinador de Programas de e-Learning",
    "Diseñador Gráfico para e-Learning",
    "Especialista en Evaluación y Certificación en Línea"]
nombre_empresas = ['Tech Corp', 'Innovate Ltd', 'Dev Solutions', 'Creative Inc']
paises = ['USA', 'Canada', 'UK', 'Germany', 'France']
intereses = ['Tecnología', 'Educación', 'Salud', 'Finanzas']
food_allergens = ['Nada', 'Peanuts', 'Gluten', 'Lactose']
current_datetime = datetime.now()

# Generar datos
data = []
for i in range(300):
    rol = random.choice(roles)
    pagado = random.choice(pagado_options)
    puesto_trabajo = random.choice(puestos_trabajo)
    nombre_empresa = random.choice(nombre_empresas)
    pais = random.choice(paises)
    
    record = {
        'id': i + 1,
        'nombre': fake.first_name(),
        'apellido': fake.last_name(),
        'rol': rol,
        'token': fake.uuid4(),
        'password': fake.password(),
        'pagado': pagado,
        'puesto_trabajo': puesto_trabajo,
        'nombre_empresa': nombre_empresa,
        'email': fake.email(),
        'telefono': fake.phone_number(),
        'pais': pais,
        'interes': random.choice(intereses),
        'alergenos': random.choice(food_allergens),
        'linkedin': 'http://linkedin.com/in/ficticio',
        'image_path': 'nada',
        'cluster': 9,
        'createdAt': current_datetime,
        'updatedAt': current_datetime
        
    }
    data.append(record)

# Crear DataFrame
Users = pd.DataFrame(data)

# Mostrar DataFrame resultante
Users

,id,nombre,apellido,rol,token,password,pagado,puesto_trabajo,nombre_empresa,email,telefono,pais,interes,alergenos,linkedin,image_path,cluster,createdAt,updatedAt
0,1,Paul,Simpson,user,62ab0b8c-459a-4ff6-8df3-21b4c0f8d34b,pS8SSc^rd^,True,Analista de Datos Educativos,Dev Solutions,ryanperez@example.com,791.416.2777,UK,Finanzas,Gluten,http://linkedin.com/in/ficticio,nada,9,2024-06-27 11:17:16.019404,2024-06-27 11:17:16.019404
1,2,Michelle,Ramirez,user,dc709f7e-4580-4cd4-ab14-679bb81130b4,t*_W9LkxVP,False,Productor de Multimedia Educativa,Dev Solutions,colleengutierrez@example.net,675-759-0320x0716,Canada,Salud,Lactose,http://linkedin.com/in/ficticio,nada,9,2024-06-27 11:17:16.019404,2024-06-27 11:17:16.019404
2,3,William,James,user,ba9c2dd4-1cfb-49b3-94b1-113c9b9fec3b,KJ5N0YGg*m,False,Tutor o Facilitador de e-Learning,Innovate Ltd,kevin69@example.org,(409)373-5551x7819,USA,Finanzas,Gluten,http://linkedin.com/in/ficticio,nada,9,2024-06-27 11:17:16.019404,2024-06-27 11:17:16.019404
3,4,Eric,Werner,speaker,55bbbdc4-6ce7-4d91-a3fd-d4bcbbb158d5,G4qGfq2y#A,True,Coordinador de Programas de e-Learning,Dev Solutions,jamesmills@example.net,6869608263,USA,Tecnología,Lactose,http://linkedin.com/in/ficticio,nada,9,2024-06-27 11:17:16.019404,2024-06-27 11:17:16.019404
4,5,Judith,Williams,partner,266fb749-7646-40f1-a932-1235c5098aed,%5Y(cd4LMu,True,Consultor de e-Learning,Innovate Ltd,frank09@example.com,+1-522-646-8737,France,Educación,Lactose,http://linkedin.com/in/ficticio,nada,9,2024-06-27 11:17:16.019404,2024-06-27 11:17:16.019404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,296,Vanessa,Lyons,speaker,c8a36eab-dd9b-4f82-b563-2e986a5a0d3c,XJ3SNze3$Y,False,Productor de Multimedia Educativa,Tech Corp,aarroyo@example.com,4628798996,UK,Educación,Gluten,http://linkedin.com/in/ficticio,nada,9,2024-06-27 11:17:16.019404,2024-06-27 11:17:16.019404
296,297,Carrie,Murray,partner,9d481b13-2560-40c6-9be5-026055579313,X@@Fl7AetL,True,Coordinador de Programas de e-Learning,Creative Inc,nnorris@example.com,001-558-318-8724,France,Finanzas,Peanuts,http://linkedin.com/in/ficticio,nada,9,2024-06-27 11:17:16.019404,2024-06-27 11:17:16.019404
297,298,Shelly,Franklin,partner,dc906864-14e1-4bd7-9a16-ab0925a0f57d,%9Kj&)WkIs,True,Especialista en Evaluación y Certificación en ...,Dev Solutions,masonmark@example.net,411-784-5077,USA,Tecnología,Peanuts,http://linkedin.com/in/ficticio,nada,9,2024-06-27 11:17:16.019404,2024-06-27 11:17:16.019404
298,299,Anna,Fernandez,partner,d4419165-5dcf-449d-8e18-53d49bccbfdf,AWk4klVc*^,False,Diseñador Instruccional,Tech Corp,manderson@example.com,450-481-1571x4846,USA,Educación,Nada,http://linkedin.com/in/ficticio,nada,9,2024-06-27 11:17:16.019404,2024-06-27 11:17:16.019404
299,300,Abigail,Gray,partner,889557ef-9562-42c0-a7d3-5ad41953ebb8,pSFDBTjH*3,True,Desarrollador de Contenidos de e-Learning,Creative Inc,jonescraig@example.org,596-741-0133,Canada,Finanzas,Gluten,http://linkedin.com/in/ficticio,nada,9,2024-06-27 11:17:16.019404,2024-06-27 11:17:16.019404

In [12]:
import pandas as pd
import random
from faker import Faker
from datetime import datetime
import json

# Inicializar Faker
fake = Faker()

# Definir listas de posibles valores para algunas columnas
roles = ['user', 'speaker', 'partner']
pagado_options = [True, False]
puestos_trabajo = [
    "Diseñador Instruccional",
    "Desarrollador de Contenidos de e-Learning",
    "Especialista en LMS (Learning Management Systems)",
    "Tutor o Facilitador de e-Learning",
    "Consultor de e-Learning",
    "Productor de Multimedia Educativa",
    "Analista de Datos Educativos",
    "Coordinador de Programas de e-Learning",
    "Diseñador Gráfico para e-Learning",
    "Especialista en Evaluación y Certificación en Línea"]
nombre_empresas = ['Tech Corp', 'Innovate Ltd', 'Dev Solutions', 'Creative Inc']
paises = ['España','USA', 'Canada', 'UK', 'Germany', 'France']
intereses = ['Tecnologia', 'Educacion', 'Salud', 'Finanzas']
food_allergens = ['Nada', 'Peanuts', 'Gluten', 'Lactose']
current_datetime = datetime.now()

# Función para generar una lista de intereses/alergenos en formato de string
def generate_random_list(values, num_elements=2):
    return json.dumps(random.sample(values, num_elements))

# Generar datos
data = []
for i in range(300):
    rol = random.choice(roles)
    pagado = random.choice(pagado_options)
    puesto_trabajo = random.choice(puestos_trabajo)
    nombre_empresa = random.choice(nombre_empresas)
    pais = random.choice(paises)
    
    record = {
        'id': i + 1,
        'nombre': fake.first_name(),
        'apellido': fake.last_name(),
        'rol': rol,
        'token': fake.uuid4(),
        'password': fake.password(),
        'pagado': pagado,
        'puesto_trabajo': puesto_trabajo,
        'nombre_empresa': nombre_empresa,
        'email': fake.email(),
        'telefono': fake.phone_number(),
        'pais': pais,
        'interes': generate_random_list(intereses),
        'alergenos': generate_random_list(food_allergens),
        'linkedin': 'http://linkedin.com/in/ficticio',
        'image_path': 'nada',
        'cluster': 9,
        'createdAt': current_datetime,
        'updatedAt': current_datetime
    }
    data.append(record)

# Crear DataFrame
Users = pd.DataFrame(data)

# Mostrar DataFrame resultante
Users

,id,nombre,apellido,rol,token,password,pagado,puesto_trabajo,nombre_empresa,email,telefono,pais,interes,alergenos,linkedin,image_path,cluster,createdAt,updatedAt
0,1,Alexander,Leblanc,partner,19074a3f-4ee5-4cc6-893c-2f93378ecc5b,fbG)8D_Zu%,False,Coordinador de Programas de e-Learning,Innovate Ltd,zcoleman@example.net,(702)852-9685x154,USA,"[""Finanzas"", ""Educacion""]","[""Peanuts"", ""Lactose""]",http://linkedin.com/in/ficticio,nada,9,2024-07-03 10:20:20.290297,2024-07-03 10:20:20.290297
1,2,Kenneth,Morales,user,50122733-f90d-46cd-86cc-f69789b691dd,@BTcUMOBa1,True,Especialista en LMS (Learning Management Systems),Dev Solutions,roseerika@example.com,286-309-5230,UK,"[""Educacion"", ""Tecnologia""]","[""Gluten"", ""Nada""]",http://linkedin.com/in/ficticio,nada,9,2024-07-03 10:20:20.290297,2024-07-03 10:20:20.290297
2,3,Brad,Dunn,partner,744d2aff-48ef-4d8d-97d0-4f71572a32ad,VEqEsRva&0,True,Productor de Multimedia Educativa,Innovate Ltd,davidhughes@example.net,(893)898-6211x06035,Germany,"[""Salud"", ""Tecnologia""]","[""Peanuts"", ""Nada""]",http://linkedin.com/in/ficticio,nada,9,2024-07-03 10:20:20.290297,2024-07-03 10:20:20.290297
3,4,Christine,Stephenson,speaker,5995b94e-f5bd-4d7b-9065-367f2d5adf18,%AwO2QYajd,False,Desarrollador de Contenidos de e-Learning,Tech Corp,donovanteresa@example.net,817.957.7858x829,UK,"[""Tecnologia"", ""Salud""]","[""Lactose"", ""Peanuts""]",http://linkedin.com/in/ficticio,nada,9,2024-07-03 10:20:20.290297,2024-07-03 10:20:20.290297
4,5,Hunter,Roberts,speaker,77c0c131-b23d-48fd-8c74-c0f3cfb13a0e,^65&cVRt#7,True,Especialista en Evaluación y Certificación en ...,Innovate Ltd,daviesjeffrey@example.com,(910)922-5074x1277,USA,"[""Educacion"", ""Tecnologia""]","[""Gluten"", ""Nada""]",http://linkedin.com/in/ficticio,nada,9,2024-07-03 10:20:20.290297,2024-07-03 10:20:20.290297
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,296,Christina,Johnson,user,3b8b4043-e7c4-4de8-91e6-aa7298e35e96,&J^HKg0w^5,False,Coordinador de Programas de e-Learning,Tech Corp,jmoss@example.com,264.652.4464x334,USA,"[""Salud"", ""Educacion""]","[""Lactose"", ""Nada""]",http://linkedin.com/in/ficticio,nada,9,2024-07-03 10:20:20.290297,2024-07-03 10:20:20.290297
296,297,Amy,Rich,user,b97b9db1-b486-4f3e-b6e1-6556858d3af7,#BT8+X4h5f,False,Especialista en LMS (Learning Management Systems),Creative Inc,ggonzalez@example.com,(437)246-5291x49439,Germany,"[""Educacion"", ""Finanzas""]","[""Gluten"", ""Peanuts""]",http://linkedin.com/in/ficticio,nada,9,2024-07-03 10:20:20.290297,2024-07-03 10:20:20.290297
297,298,Angela,Munoz,partner,ed89f7e8-d8b9-489b-93db-711d467e58f0,@T0&rF$iC5,True,Diseñador Instruccional,Innovate Ltd,zhall@example.org,001-638-578-7387x0049,España,"[""Salud"", ""Finanzas""]","[""Peanuts"", ""Nada""]",http://linkedin.com/in/ficticio,nada,9,2024-07-03 10:20:20.290297,2024-07-03 10:20:20.290297
298,299,Destiny,Patel,speaker,a878ed79-2666-40b5-b810-2d51e54d75ae,3aQ0%JpM(a,True,Diseñador Gráfico para e-Learning,Tech Corp,dustingraham@example.com,(780)952-6474x215,France,"[""Tecnologia"", ""Finanzas""]","[""Nada"", ""Peanuts""]",http://linkedin.com/in/ficticio,nada,9,2024-07-03 10:20:20.290297,2024-07-03 10:20:20.290297
299,300,Kristina,Bolton,user,de3786a0-7d98-437a-b76d-198626996aac,1g0lYc9OR*,True,Diseñador Gráfico para e-Learning,Tech Corp,martinezkevin@example.net,+1-768-352-7628x461,France,"[""Tecnologia"", ""Salud""]","[""Gluten"", ""Nada""]",http://linkedin.com/in/ficticio,nada,9,2024-07-03 10:20:20.290297,2024-07-03 10:20:20.290297

In [ ]:
import requests
# Definir el endpoint al que se enviarán los datos
endpoint_url = 'http://your-endpoint-url.com/api'

# Enviar datos línea a línea
for index, row in Users.iterrows():
    response = requests.post(endpoint_url, json=row.to_dict())
    if response.status_code == 200:
        print(f"Fila {index} enviada exitosamente.")
    else:
        print(f"Error al enviar la fila {index}: {response.text}")

In [10]:
type(Users['interes'][0])

str

In [53]:
csv_path = 'users_data.csv'
Users.to_csv(csv_path, index=False)

In [41]:
query = "SHOW TABLES;"
tables = pd.read_sql(query, engine)
print(tables)

  Tables_in_mysql_app
0              Events
1           Feedbacks
2            Meetings
3            Partners
4       SequelizeMeta
5            Speakers
6               Users

In [74]:
with engine.connect() as connection:
    Users.to_sql(name='Users', con=connection, if_exists='append', index=False)

In [6]:
query = "SELECT * FROM Users;"
tables = pd.read_sql(query, engine)
tables

,id,nombre,apellido,rol,token,password,pagado,puesto_trabajo,nombre_empresa,email,telefono,pais,interes,alergenos,linkedIn,image_path,cluster,createdAt,updatedAt
0,1,Paul,Simpson,user,62ab0b8c-459a-4ff6-8df3-21b4c0f8d34b,pS8SSc^rd^,1.0,Analista de Datos Educativos,Dev Solutions,ryanperez@example.com,791.416.2777,UK,Finanzas,Gluten,http://linkedin.com/in/ficticio,nada,9.0,2024-06-27 11:17:16,2024-06-27 11:17:16
1,2,Michelle,Ramirez,user,dc709f7e-4580-4cd4-ab14-679bb81130b4,t*_W9LkxVP,0.0,Productor de Multimedia Educativa,Dev Solutions,colleengutierrez@example.net,675-759-0320x0716,Canada,Salud,Lactose,http://linkedin.com/in/ficticio,nada,9.0,2024-06-27 11:17:16,2024-06-27 11:17:16
2,3,William,James,admin,ba9c2dd4-1cfb-49b3-94b1-113c9b9fec3b,KJ5N0YGg*m,0.0,Tutor o Facilitador de e-Learning,Innovate Ltd,kevin69@example.org,(409)373-5551x7819,USA,Finanzas,Gluten,http://linkedin.com/in/ficticio,nada,9.0,2024-06-27 11:17:16,2024-06-27 11:17:16
3,4,Eric,Werner,speaker,55bbbdc4-6ce7-4d91-a3fd-d4bcbbb158d5,G4qGfq2y#A,1.0,Coordinador de Programas de e-Learning,Dev Solutions,jamesmills@example.net,6869608263,USA,Tecnología,Lactose,http://linkedin.com/in/ficticio,nada,9.0,2024-06-27 11:17:16,2024-06-27 11:17:16
4,5,Judith,Williams,partner,266fb749-7646-40f1-a932-1235c5098aed,%5Y(cd4LMu,1.0,Consultor de e-Learning,Innovate Ltd,frank09@example.com,+1-522-646-8737,France,Educación,Lactose,http://linkedin.com/in/ficticio,nada,9.0,2024-06-27 11:17:16,2024-06-27 11:17:16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,317,adfvsdvasdv,SDVsdv,user,None,$2a$10$opGhASKgKTK1kF4eZpQRTu1MqKXidApcSA/ebWw...,0.0,Coordinador de Programas de e-Learning,sdvsdvsadv,jklshdfkjsdf@gmail.com,322231313,Spain,"[""Generación de vídeo"",""Sistema de Gestión""]","[""Lupino""]",None,sadvsdv,NaN,2024-07-02 11:55:35,2024-07-02 11:55:35
311,318,dfbadfb,afdvgadfb,user,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6M...,$2a$10$iNWEtc0GJfg7XXaBnAFmO.QjCfO9Q0F0Yy2HgHa...,0.0,Coordinador de Programas de e-Learning,fbvxycvbyfc,pagado3000@gmail.com,xcvxycvb,UK,"[""Herramientas del autor""]","[""Sésamo""]",None,6565465,NaN,2024-07-02 11:59:18,2024-07-02 11:59:19
312,319,fsdv<sdvs<,dv<sdv,user,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6M...,$2a$10$eE5ocCfphmIqWDmdvQ9fxO36bEt6I38n/e8Ch/U...,1.0,Consultor de e-Learning,dsv<sfv,WEFWWEF@gmail.com,sdfvsfdv,France,"[""Gestión de la formación""]","[""Sésamo""]",None,315,NaN,2024-07-02 12:10:43,2024-07-02 16:18:18
313,320,fsdv<sdvs<,dv<sdv,user,None,$2a$10$J29Ch7TnBwOKUq66VyLbQulBFpeZtKXHlmlk64t...,0.0,Consultor de e-Learning,dsv<sfv,WEFWWEF@gmail.com,sdfvsfdv,France,"[""Gestión de la formación""]","[""Sésamo""]",None,315,3.0,2024-07-02 12:20:00,2024-07-02 12:20:00
314,321,sdvasdfv,sDVFSDV,user,eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6M...,$2a$10$B7SRPjlvYSM7/1MFnfMr4Ok7ICoZO1ju1FewbKu...,1.0,Tutor o Facilitador de e-Learning,adfgadf,kjsdf@gmail.com,65565656565,Spain,"[""Inteligencia artificial"",""Gestión de la form...","[""Sulfitos"",""Cacahuetes""]",None,sdfv,NaN,2024-07-02 16:18:17,2024-07-02 16:18:41

In [45]:
Meetings.to_sql("Meetings", engine, if_exists="replace", index=False)
query = "SELECT * FROM Meetings;"
pd.read_sql(query, engine)

,id,partner_id,user_id,fecha,hora_inicio,hora_fin,createdAt,updatedAt
0,1,3,235,2024-03-10,0 days 10:01:00,0 days 10:02:00,2024-06-24 10:46:28,2024-06-24 10:46:28
1,2,7,219,2024-01-03,0 days 10:17:00,0 days 10:39:00,2024-06-24 10:46:28,2024-06-24 10:46:28
2,3,6,263,2024-07-15,0 days 08:26:00,0 days 08:46:00,2024-06-24 10:46:28,2024-06-24 10:46:28
3,4,6,276,2024-02-10,0 days 12:05:00,0 days 12:14:00,2024-06-24 10:46:28,2024-06-24 10:46:28
4,5,7,225,2024-12-17,0 days 14:18:00,0 days 14:26:00,2024-06-24 10:46:28,2024-06-24 10:46:28
...,...,...,...,...,...,...,...,...
95,96,2,230,2024-09-26,0 days 12:06:00,0 days 12:20:00,2024-06-24 10:46:28,2024-06-24 10:46:28
96,97,1,215,2024-12-12,0 days 08:19:00,0 days 08:49:00,2024-06-24 10:46:28,2024-06-24 10:46:28
97,98,2,212,2024-01-12,0 days 11:08:00,0 days 11:32:00,2024-06-24 10:46:28,2024-06-24 10:46:28
98,99,5,299,2024-11-19,0 days 15:23:00,0 days 15:30:00,2024-06-24 10:46:28,2024-06-24 10:46:28
99,100,8,265,2024-07-08,0 days 10:12:00,0 days 10:35:00,2024-06-24 10:46:28,2024-06-24 10:46:28

In [7]:
query = """
    SELECT *
    FROM Users 

"""
user_new = pd.read_sql(query, engine)

Archivo CSV guardado correctamente.

In [13]:

# Guardar el DataFrame como un archivo CSV
Users.to_csv('users_data.csv', index=False)

print("Archivo CSV guardado correctamente.")

Archivo CSV guardado correctamente.

In [66]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
from sqlalchemy.orm import sessionmaker

# Definir la metadata y la tabla
metadata = MetaData()
events_table = Table('Events', metadata,
    Column('id', Integer, primary_key=True),
    Column('nombre', String),
    Column('asistentes', String)  # Definir la columna 'asistentes' como tipo String
)

# Crear la sesión
Session = sessionmaker(bind=engine)
session = Session()

# Nuevo valor para actualizar en la columna 'asistentes'
new_attendees_value = "Nuevo valor para todos los asistentes"

# Construir la query de actualización
update_query = events_table.update().values(asistentes=new_attendees_value)

# Ejecutar la query de actualización
session.execute(update_query)

# Confirmar los cambios en la base de datos
session.commit()

# Cerrar la sesión
session.close()

OperationalError: (pymysql.err.OperationalError) (3140, 'Invalid JSON text: "Invalid value." at position 0 in value for column \'Events.asistentes\'.')
[SQL: UPDATE `Events` SET asistentes=%(asistentes)s]
[parameters: {'asistentes': 'Nuevo valor para todos los asistentes'}]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [108]:
Users[['puesto_trabajo']].value_counts()

puesto_trabajo
Productor de Multimedia Educativa                      36
Desarrollador de Contenidos de e-Learning              35
Coordinador de Programas de e-Learning                 34
Analista de Datos Educativos                           31
Tutor o Facilitador de e-Learning                      31
Consultor de e-Learning                                30
Especialista en LMS (Learning Management Systems)      30
Diseñador Gráfico para e-Learning                      28
Especialista en Evaluación y Certificación en Línea    23
Diseñador Instruccional                                22
Name: count, dtype: int64

In [109]:
Users[['pais']].value_counts()

pais
USA        66
France     64
Canada     62
UK         60
Germany    48
Name: count, dtype: int64

In [110]:
Users[['interes']].value_counts()

interes
Tecnología    79
Finanzas      78
Educación     77
Salud         66
Name: count, dtype: int64

In [111]:
Users[['alergenos']].value_counts()

alergenos
Lactose      84
Peanuts      82
Gluten       68
Nada         66
Name: count, dtype: int64

In [ ]:
'puesto_trabajo', 'pais', 'interes', 'alergenos'

In [ ]:
#pd.to_sql("ponencias", engine, if_exists="replace", index=False)
query = "SELECT * FROM ponencias;"
pd.read_sql(query, engine)